<h1>The Cocktails</h1>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <div class="col-xs-12 col-sm-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path_with_default(cocktail) %>);">
        <div class="card-category"><%= cocktail.stars %></div>
        <div class="card-description">
          <h2><%= cocktail.name %></h2>
          <p><%= "#{cocktail.description.first(50)}..." if cocktail.description %></p>
        </div>
        <%= link_to cocktail.name, cocktail, class: 'card-link' %>
      </div>

    </div>
  <% end %>
</div>
