<% content_for :title do %>
  <%= @cocktail.name %>
<% end %>

<div class="row">

  <div class="col-sm-8">
    <h1><%= @cocktail.name %>
      <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_cocktail_path(@cocktail) %>
      <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
    </h1>
    <h3><%= @cocktail.stars %></h3>
    <p>
      <%= @cocktail.description %>
    </p>

    <div>
      <% if @cocktail.photo? %>
        <%= cl_image_tag @cocktail.photo.path, width: 500, crop: :fill %>
      <% end %>
    </div>

    <ul>
      <% @cocktail.doses.each do |dose| %>
        <% if dose.persisted? %>
          <li>
            <%= dose.ingredient.name %> - <%= dose.description %>
            <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_dose_path(dose) %>
            <%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <h4>Add ingredients</h4>
    <div class="well">
      <%= render 'doses/form', dose_tables: [@cocktail, @dose] %>
    </div>
  </div>

  <div class="col-sm-4">
    <div style="padding-top: 20px">
      <ul>
        <% @cocktail.reviews.each do |review| %>
          <li>
            <%= review.stars %> <%= review.content %>
          </li>
        <% end %>
      </ul>
      <h4>Add a review</h4>
      <div class="well">
        <%= render 'reviews/form' %>
      </div>
    </div>
  </div>

</div>
